.addNote {
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.addNote input {
    width: 100%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(214 214 214);
    margin: 0 auto;
}

.addNote input:focus {
    outline: 0;
}

.addNote input:invalid {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.addNote input:invalid + .add__message {
    display: block;
    margin-top: 18px;
    font-size: 25px;
}

.add__message {
    display: none;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
