.post {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    padding: 20px 20px;
    border: 2px solid rgb(214 214 214);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.post__closeBtn {
    position: absolute;
    top: 0px;
    right: 10px;
    border: none;
    background: none;
    font-size: 35px;
}

.post__closeBtn img {
    width: 20px;
    height: 20px;
}
